Source: bignumber.js
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Yadd <yadd@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-sequence-nodejs,
               uglifyjs
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/bignumber.js
Vcs-Git: https://salsa.debian.org/js-team/bignumber.js.git
Homepage: https://github.com/MikeMcl/bignumber.js/
Rules-Requires-Root: no

Package: node-bignumber
Architecture: all
Depends: ${misc:Depends},
         nodejs:any
Multi-Arch: foreign
Provides: node-bignumber.js
Description: Arbitrary-precision decimal and non-decimal arithmetic for Node.js
 Features:
 .
    - Faster, smaller, and perhaps easier to use than Javascript versions of
      Java's BigDecimal
    - 5 KB minified and gzipped
    - Simple API but full-featured
    - Works with numbers with or without fraction digits in bases from 2 to 36
      inclusive
    - Replicates the toExponential, toFixed, toPrecision and toString methods of
      Javascript's Number type
    - Includes a toFraction and a squareRoot method
    - Stores values in an accessible decimal floating point format
    - No dependencies
    - Comprehensive documentation and test set
 .
 If an even smaller and simpler library is required see big.js. It's half the
 size but only works with decimal numbers and only has half the methods. It
 neither allows NaN or Infinity, or have the configuration options of this
 library.
 .
 This package provides bignumber support to Node.js.

Package: libjs-bignumber
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Arbitrary-precision decimal and non-decimal arithmetic (client)
 Features:
 .
    - Faster, smaller, and perhaps easier to use than Javascript versions of
      Java's BigDecimal
    - 5 KB minified and gzipped
    - Simple API but full-featured
    - Works with numbers with or without fraction digits in bases from 2 to 36
      inclusive
    - Replicates the toExponential, toFixed, toPrecision and toString methods of
      Javascript's Number type
    - Includes a toFraction and a squareRoot method
    - Stores values in an accessible decimal floating point format
    - No dependencies
    - Comprehensive documentation and test set
 .
 If an even smaller and simpler library is required see big.js. It's half the
 size but only works with decimal numbers and only has half the methods. It
 neither allows NaN or Infinity, or have the configuration options of this
 library.
 .
 This package provides bignumber support to clients (i.e. browsers).
